@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Orbitron', sans-serif;
  /* Updated to Orbitron */
  overflow: hidden;
  margin: 0;
  /* Reset default margin */
  padding: 0;
  width: 100vw;
  height: 100vh;
}